<div class="card">
    <div class="card-header">
        <strong>Filters</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from">FROM</label>
                <input type="number" id="from" class="form-control">
            </div>


            <div class="form-group">
                <label for="to">TO</label>
                <input type="number" id="to" class="form-control">
            </div>
            <button class="btn btn-primary btn-block btn-sm">Filter by Price</button>
            
            <div class="form-group">
                
                <input type="text" id="brand" class="form-control">
            </div>
            <button class="btn btn-primary btn-block btn-sm">Search by Brand</button>
            <div class="form-group">
                
                <input type="text" id="text" class="form-control">
            </div>
            <button class="btn btn-primary btn-block btn-sm">Search by range</button>

        </form>
    </div>
</div>
